  #para2 {
    text-align: left;
    color: rgb(0, 42, 255);
    font-family:cursive;
  }
  #para3{
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  #heading1{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(134, 1, 171);
  }
  #heading2{
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(109, 189, 29);
  }
  .bg{
    background-color: antiquewhite
  }
  p.header{
    text-align: right;
    text-shadow:2em;
    font-weight: 600;
    color: rgb(170, 26, 0);

  }
  h1.header{
    text-align: right;
    text-shadow:2em;
    font-weight: 700;
    color: rgb(0, 136, 170);
  }